.container {
  display: flex;
  gap: 50px;
  padding: 20px 0 0 0;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.title {
  font-size: 50px;
}
.desc {
  font-size: 20px;
}
.buttons {
  display: flex;
  gap: 20px;
}
.button {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
}
.button:first-child {
  background-color: var(--btn);
  color: var(--text);
}
.imgContainer {
  flex: 1;
  position: relative;
  object-fit: cover;
  max-width: 800px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .textContainer {
    padding-bottom: 100px;
  }
  .container {
    padding: 0 0 0 0;
    flex-direction: column-reverse;
    text-align: center;
  }
  .imgContainer {
    padding-top: 100px;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .buttons {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 64px;
  }
}
