/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/home.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.home_container__2nSFh {
  display: flex;
  gap: 50px;
  padding: 20px 0 0 0;
}
.home_textContainer__1ljkg {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.home_title__jKRy7 {
  font-size: 50px;
}
.home_desc__ZPff_ {
  font-size: 20px;
}
.home_buttons__Z9C0a {
  display: flex;
  gap: 20px;
}
.home_button__OGYC6 {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
}
.home_button__OGYC6:first-child {
  background-color: var(--btn);
  color: var(--text);
}
.home_imgContainer__uuBJb {
  flex: 1 1;
  position: relative;
  object-fit: cover;
  max-width: 800px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .home_textContainer__1ljkg {
    padding-bottom: 100px;
  }
  .home_container__2nSFh {
    padding: 0 0 0 0;
    flex-direction: column-reverse;
    text-align: center;
  }
  .home_imgContainer__uuBJb {
    padding-top: 100px;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .home_buttons__Z9C0a {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .home_title__jKRy7 {
    font-size: 64px;
  }
}

